.form-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 8px;
}

.form-grid > div {
    display: flex;
    flex-direction: column;
}

.subdivision-group {
    grid-column: span 4;
}

button {
    grid-column: span 4;
}
